

#web3-personas {
    margin-top: 84px;

    .inner {
        padding: 0 138px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 96px;
            color: #EE1B84;
        }

        .subtitle {
            font-size: 36px;
            color: #FFEE64;
        }

        .myname-wrapper {
            position: relative;
            width: 890px;
            height: 774px;

            img.frame {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .center-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 0 0;
                position: absolute;
                z-index: 0;
                width: 480px;
                height: 420px;
                top: 170px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #EE1B84;
                h3 {
                    font-size: 36px;
                }
                img {
                    width: 60%;
                }
            }
        }
    }
}

#quests {
    .level, .minted-point {
        font-size: 36px;
        text-align: center;
    }
    .level {
        margin-bottom: 10px;
        color: #FFEE64;
    }
    .minted-point {
        color: rgba(255, 255, 255, 0.4);
    }
    .tasks {
        margin-top: 50px;

        .item {
            text-align: center;
            border-radius: 25px;
            font-size: 36px;
            padding: 10px;
            color: #FFEE64;
            background-color: #EE1B84;
            border: 7px solid #EE1B84;
            margin-bottom: 36px;
            cursor: pointer;

            &.outline-item {
                background-color: var(--base-white);
                color: #EE1B84;
            }
        }
    }
}

#message-box {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 810px;
    margin-top: 24px;

    .msg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 120px 268px;
        width: 1100px;
        height: 410px;
        color: var(--base-black);
        background-color: var(--base-white);
        font-size: 36px;
        border-radius: 50px;
        border: 25px solid #EE1B84;

        &::before {
            content: "";
            border-style: solid;
            border-width: 73px 92px;
            border-color: #EE1B84 transparent transparent #EE1B84;
            position: absolute;
            left: calc(20% + 7px);
            bottom: 0;
            transform: translateX(-50%) translateY(100%);
        }
        &::after {
            content: "";
            border-style: solid;
            border-width: 52px 66px;
            border-color: var(--base-white) transparent transparent var(--base-white);
            position: absolute;
            left: 20%;
            bottom: 0;
            transform: translateX(-50%) translateY(100%);
        }
    }

    img {
        width: 45%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
}

#token-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE1B84;

    &.social-line {
        background-color: #FFEF7A;
    }

    &.social-line::before {
        border-color: #FFEF7A #FFEF7A transparent transparent;
    }

    .marquee-container {
        overflow-x: hidden !important;
        display: flex !important;
        flex-direction: row !important;
        position: relative;
        width: 100%;
    }
    
    .token-marquee {
        flex: 0 0 auto;
        min-width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        animation: token-marquee-animation 20s linear infinite;
    
        .token-item {
            display: flex;
            align-items: center;
            display: inline-block;
            font-family: "Chakra Petch", sans-serif;
            font-size: 64px;
            font-weight: 700;
            color: var(--base-black);
            padding: 0 25px;
        }
    }
    
    @keyframes token-marquee-animation {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}