/* Mobile < 740px */
@media (max-width: 46.24375em) {

    #intr {
        margin-top: 35px;
    
        .inner {
            height: 580px;

            .center-box {
                h1 {
                    font-size: 100px;
                }
    
                img {
                    width: 358px;
                    top: 30px;
                    left: -25px;
                }
            }
    
            .abs-box {
                transform: translateY(38%);
    
                h3 {
                    width: 125px;
                    font-size: 24px;
                }
    
                img {
                    width: 185px;
                    transform: translate(16%, -45%);
                }
            }
        }
    }

    #token-line {
        margin-bottom: 12px;
    
        &::before {
            border-width: 8px 12px;
        }
        
        .token-marquee {
        
            .token-item {
                font-size: 22px;
                padding: 0 8px;
            }
        }
        
        @keyframes token-marquee-animation {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }

    #aegg-section {
        padding-bottom: 28px;
        margin-top: -125px;
    
        .top {
            .center {
                width: 100%;
                text-align: center;
            }
        }
        .bottom {
            .character {
                font-size: 28px;
            }
            .description {
                font-size: 28px;
                margin-top: 15px;
                margin-bottom: 8px;
            }
        }
    }

    #market-section {
        padding: 34px 0 53px;
    
        .inner {
            padding: 0 24px;    
    
            h3 {
                font-size: 40px;
            }
            img {
                margin-top: 24px;
                margin-bottom: 24px;
            }
            h1 {
                font-size: 48px;
            }
        }
    }
    #wall-of-mun {
        .inner {
            h1 {
                font-size: 40px;
            }

            .cnt {
                margin-top: 12px;
            }
        }
    }

    #social {
        margin-top: 24px;
        padding-bottom: 60px;
    
        .inner {
            margin-bottom: 16px;
            
            .center {
                img {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet width >=740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 64em) {
    #header {
        padding: 40px 0 16px;
    
        nav {
            a {
                font-size: 24px;
            }
        }
    }

    #intr {
        margin-top: 35px;
    
        .inner {
            height: 580px;

            .center-box {
                h1 {
                    font-size: 100px;
                }
    
                img {
                    width: 358px;
                    top: 30px;
                    left: -25px;
                }
            }
    
            .abs-box {
                transform: translateY(38%);
    
                h3 {
                    width: 125px;
                    font-size: 24px;
                }
    
                img {
                    width: 185px;
                    transform: translate(16%, -45%);
                }
            }
        }
    }

    #token-line {
        margin-bottom: 12px;
    
        &::before {
            border-width: 8px 12px;
        }
        
        .token-marquee {
        
            .token-item {
                font-size: 36px;
                padding: 0 12px;
            }
        }
        
        @keyframes token-marquee-animation {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }

    #aegg-section {
        padding-bottom: 28px;
        margin-top: 0;
    
        .top {
            .left, .right, .center p {
                font-size: 24px;
            }
            .center {
                width: 50%;
                text-align: center;
            }
        }
        .bottom {
            .character {
                font-size: 28px;
            }
            .description {
                font-size: 28px;
                margin-top: 15px;
                margin-bottom: 8px;
            }
        }
    }

    #market-section {
        padding: 34px 0 53px;
    
        .inner {
            padding: 0 24px;    
    
            h3 {
                font-size: 40px;
            }
            img {
                margin-top: 24px;
                margin-bottom: 24px;
            }
            h1 {
                font-size: 48px;
            }
        }
    }

    #social {
        margin-top: 24px;
        padding-bottom: 60px;
    
        .inner {
            margin-bottom: 16px;

            .left {
                font-size: 48px;
                flex: 1;
            }
            
            .center {
                display: flex;
                justify-content: center;
                img {
                    width: 400px;
                }
            }

            .right {
                a {
                    img {
                        width: 48px;
                    }
                }
            }
        }
    }
}

/* PC width >= 1024px */
@media (min-width: 64em) {
    
}